USE [DRUG_STORE]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 05/10/2019 01:37:00 a. m. ******/
DROP TABLE [dbo].[ventas]
GO
/****** Object:  Table [dbo].[turnos]    Script Date: 05/10/2019 01:37:00 a. m. ******/
DROP TABLE [dbo].[turnos]
GO
/****** Object:  Table [dbo].[tipo_med]    Script Date: 05/10/2019 01:37:00 a. m. ******/
DROP TABLE [dbo].[tipo_med]
GO
/****** Object:  Table [dbo].[proveedor]    Script Date: 05/10/2019 01:37:00 a. m. ******/
DROP TABLE [dbo].[proveedor]
GO
/****** Object:  Table [dbo].[medicamentos]    Script Date: 05/10/2019 01:37:00 a. m. ******/
DROP TABLE [dbo].[medicamentos]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 05/10/2019 01:37:00 a. m. ******/
DROP TABLE [dbo].[empleados]
GO
/****** Object:  Table [dbo].[compras]    Script Date: 05/10/2019 01:37:00 a. m. ******/
DROP TABLE [dbo].[compras]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 05/10/2019 01:37:00 a. m. ******/
DROP TABLE [dbo].[cliente]
GO
/****** Object:  Table [dbo].[almacen]    Script Date: 05/10/2019 01:37:00 a. m. ******/
DROP TABLE [dbo].[almacen]
GO
USE [master]
GO
/****** Object:  Database [DRUG_STORE]    Script Date: 05/10/2019 01:37:00 a. m. ******/
DROP DATABASE [DRUG_STORE]
GO
/****** Object:  Database [DRUG_STORE]    Script Date: 05/10/2019 01:37:00 a. m. ******/
CREATE DATABASE [DRUG_STORE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DRUG_STORE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DRUG_STORE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DRUG_STORE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DRUG_STORE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DRUG_STORE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DRUG_STORE]
GO
/****** Object:  Table [dbo].[almacen]    Script Date: 05/10/2019 01:37:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[almacen](
	[ID_MED] [int] NULL,
	[CANT] [int] NULL,
	[ID_PROV] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 05/10/2019 01:37:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](20) NULL,
	[Ap_P] [varchar](20) NULL,
	[Ap_M] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compras]    Script Date: 05/10/2019 01:37:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compras](
	[ID] [int] NOT NULL,
	[ID_PROV] [int] NULL,
	[ID_MED] [int] NULL,
	[CANT] [int] NULL,
	[total] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 05/10/2019 01:37:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](20) NULL,
	[Ap_P] [varchar](20) NULL,
	[Ap_M] [varchar](20) NULL,
	[Edad] [tinyint] NULL,
	[turno] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicamentos]    Script Date: 05/10/2019 01:37:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicamentos](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](20) NULL,
	[precio] [int] NULL,
	[ID_PROV] [int] NULL,
	[fecha_vencimiento] [date] NULL,
	[ID_TIPO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedor]    Script Date: 05/10/2019 01:37:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor](
	[ID] [int] NOT NULL,
	[Nombre] [varchar](20) NULL,
	[direccion] [varchar](100) NULL,
	[telefono] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_med]    Script Date: 05/10/2019 01:37:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_med](
	[ID] [int] NOT NULL,
	[nombre] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[turnos]    Script Date: 05/10/2019 01:37:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[turnos](
	[ID] [int] NOT NULL,
	[horario] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 05/10/2019 01:37:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[ID] [int] NOT NULL,
	[ID_EMP] [int] NULL,
	[fecha] [date] NULL,
	[ID_CLI] [int] NULL,
	[ID_MEDICAMENTO] [int] NULL,
	[cant] [tinyint] NULL,
	[total] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
