USE [Farmacia_Yek]
GO
ALTER TABLE [dbo].[Medicamentos] DROP CONSTRAINT [CK__Medicamen__preci__286302EC]
GO
ALTER TABLE [dbo].[Ventas] DROP CONSTRAINT [FK__Ventas__id_vende__3D5E1FD2]
GO
ALTER TABLE [dbo].[Inventario] DROP CONSTRAINT [FK__Inventari__id_pr__300424B4]
GO
ALTER TABLE [dbo].[Inventario] DROP CONSTRAINT [FK__Inventari__id_me__2E1BDC42]
GO
ALTER TABLE [dbo].[Empleados] DROP CONSTRAINT [FK__Empleados__id_pu__398D8EEE]
GO
ALTER TABLE [dbo].[Empleados] DROP CONSTRAINT [FK__Empleados__id_de__38996AB5]
GO
ALTER TABLE [dbo].[Ventas] DROP CONSTRAINT [DF__Ventas__fecha__3C69FB99]
GO
ALTER TABLE [dbo].[Inventario] DROP CONSTRAINT [DF__Inventari__canti__2F10007B]
GO
/****** Object:  Index [UQ__Puestos__72AFBCC63D100984]    Script Date: 01/11/2019 04:08:14 p. m. ******/
ALTER TABLE [dbo].[Puestos] DROP CONSTRAINT [UQ__Puestos__72AFBCC63D100984]
GO
/****** Object:  Index [UQ__Proveedo__72AFBCC61A5D5B5A]    Script Date: 01/11/2019 04:08:14 p. m. ******/
ALTER TABLE [dbo].[Proveedor] DROP CONSTRAINT [UQ__Proveedo__72AFBCC61A5D5B5A]
GO
/****** Object:  Index [UQ__Proveedo__2A586E0B5662A1C6]    Script Date: 01/11/2019 04:08:14 p. m. ******/
ALTER TABLE [dbo].[Proveedor] DROP CONSTRAINT [UQ__Proveedo__2A586E0B5662A1C6]
GO
/****** Object:  Index [UQ__Departam__72AFBCC648646C92]    Script Date: 01/11/2019 04:08:14 p. m. ******/
ALTER TABLE [dbo].[Departamentos] DROP CONSTRAINT [UQ__Departam__72AFBCC648646C92]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 01/11/2019 04:08:14 p. m. ******/
DROP TABLE [dbo].[Ventas]
GO
/****** Object:  Table [dbo].[Puestos]    Script Date: 01/11/2019 04:08:14 p. m. ******/
DROP TABLE [dbo].[Puestos]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 01/11/2019 04:08:14 p. m. ******/
DROP TABLE [dbo].[Proveedor]
GO
/****** Object:  Table [dbo].[Medicamentos]    Script Date: 01/11/2019 04:08:14 p. m. ******/
DROP TABLE [dbo].[Medicamentos]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 01/11/2019 04:08:14 p. m. ******/
DROP TABLE [dbo].[Inventario]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 01/11/2019 04:08:14 p. m. ******/
DROP TABLE [dbo].[Empleados]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 01/11/2019 04:08:14 p. m. ******/
DROP TABLE [dbo].[Departamentos]
GO
USE [master]
GO
/****** Object:  Database [Farmacia_Yek]    Script Date: 01/11/2019 04:08:14 p. m. ******/
DROP DATABASE [Farmacia_Yek]
GO
/****** Object:  Database [Farmacia_Yek]    Script Date: 01/11/2019 04:08:14 p. m. ******/
CREATE DATABASE [Farmacia_Yek]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Farmacia_Yek', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.ROOT\MSSQL\DATA\Farmacia_Yek.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Farmacia_Yek_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.ROOT\MSSQL\DATA\Farmacia_Yek_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Farmacia_Yek].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Farmacia_Yek]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 01/11/2019 04:08:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departamentos](
	[id_departamentos] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_departamentos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 01/11/2019 04:08:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empleados](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[ApellidoP] [varchar](50) NULL,
	[ApellidoM] [varchar](50) NULL,
	[nombre_completo]  AS (((([nombre]+' ')+[ApellidoP])+' ')+[ApellidoM]),
	[id_departamento] [int] NULL,
	[id_puesto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 01/11/2019 04:08:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[id_medicamento] [int] NULL,
	[cantidad] [int] NULL,
	[precioCompra] [int] NULL,
	[id_proveedor] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Medicamentos]    Script Date: 01/11/2019 04:08:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Medicamentos](
	[id_medicamentos] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[precioVenta] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_medicamentos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 01/11/2019 04:08:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[direccion] [varchar](150) NULL,
	[correo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Puestos]    Script Date: 01/11/2019 04:08:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Puestos](
	[id_puesto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_puesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 01/11/2019 04:08:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[id_vendedor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Departam__72AFBCC648646C92]    Script Date: 01/11/2019 04:08:14 p. m. ******/
ALTER TABLE [dbo].[Departamentos] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Proveedo__2A586E0B5662A1C6]    Script Date: 01/11/2019 04:08:14 p. m. ******/
ALTER TABLE [dbo].[Proveedor] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Proveedo__72AFBCC61A5D5B5A]    Script Date: 01/11/2019 04:08:14 p. m. ******/
ALTER TABLE [dbo].[Proveedor] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Puestos__72AFBCC63D100984]    Script Date: 01/11/2019 04:08:14 p. m. ******/
ALTER TABLE [dbo].[Puestos] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Inventario] ADD  DEFAULT ((0)) FOR [cantidad]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD FOREIGN KEY([id_departamento])
REFERENCES [dbo].[Departamentos] ([id_departamentos])
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD FOREIGN KEY([id_puesto])
REFERENCES [dbo].[Puestos] ([id_puesto])
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD FOREIGN KEY([id_medicamento])
REFERENCES [dbo].[Medicamentos] ([id_medicamentos])
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedor] ([id_proveedor])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([id_vendedor])
REFERENCES [dbo].[Empleados] ([id_empleado])
GO
ALTER TABLE [dbo].[Medicamentos]  WITH CHECK ADD CHECK  (([precioVenta]>(0)))
GO
USE [master]
GO
