USE [master]
GO
/****** Object:  Database [LBDY]    Script Date: 31/08/2019 12:56:37 p.m. ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'LBDY')
DROP DATABASE [LBDY]
GO
/****** Object:  Database [LBDY]    Script Date: 31/08/2019 12:56:37 p.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'LBDY')
BEGIN
CREATE DATABASE [LBDY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LBDY', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LBDY.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LBDY_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\LBDY_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LBDY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
